*{
    margin: 0;
    padding: 0; /*elementos internos*/
    box-sizing: border-box;
}

ul {
    list-style: none; /*retirar marcadores*/
}

body {
    background-color: #000000;
     overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;
    background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
} 

a{
    color: inherit;
  text-decoration:none;
}

main .personagem {
    display:none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-personagem {
    color: #ffffff;
    font-size: 50px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao {
    color: #ffffff;
    font-family: "Rubik";
    font-size: 25px;
    line-height: 29px;
}

.conteudo .logo {
    background-image: url("../img/SemFundo/Demon-Slayer-Logo.png");
    background-size: cover;
    width: 300px;
    height: 210px;
    margin-bottom: 35px;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #ff0000;
}

.voltar {
    display: flex;
    color:red;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 25px;
}

.voltar:hover{
    background-color: #2b2a2a;
    border: #ff0000 4px solid;
}