* {
  scroll-behavior: smooth;
}

body {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  width: 10px;
  color: #ff0000;
}

::-webkit-scrollbar-button{
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-corner{
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(136, 3, 3);
  border-radius: 30px;
  width: 8px;
}

::-webkit-scrollbar-track-piece{
background-color: rgb(255, 255, 255);
}

a{
  color: inherit;
  text-decoration:none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  
}

#header {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1000;
  top: 0;
  border-bottom: #ff0000 solid 4px;
  transition: background-color 0.3s ease;
}


header, nav ul {
  display: flex;
  align-items: center;
  padding: 16px;
  list-style: none;
  justify-content: space-between;
  
}


.Titulo{
  font-size: 50px;

}

nav ul li {
  margin-left: 70px;
}

.Navbar{
  font-size: 22px;
  width: 100%;
  display: flex;
  /* color: #000000; */
  font-weight: bold;
  align-items: center;
  list-style: none;
  justify-content: flex-start;
  margin-right: 50;
   
}

#header.scrolled {
  background: rgba(0, 0, 0, 0.5) !important;
  color:#ffffff !important;
  border-bottom: rgba(255, 0, 0,0.5) solid 4px;
  box-shadow: #ff0000 40px  ;
  transition: background-color 0.3s ease;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  /* Cor de fundo quando a página é rolada */
}

.Navbar :hover{
  color: rgb(255, 2, 2);
}

.home {
  width: 99.46vw;
  height: 80vh;
}


.texto-home{
  color: whitesmoke;
  font-size: 22px;
  margin-left: 100px !important;
  /* background-color: rgba(7, 7, 7, 0.8); */
  /* border: rgba(252, 0, 0, 0.2) 5px solid; */
  border-radius: 10px;
  
}


.conjunto-home{
  width: 60vw;
  height: 60vh;
  /* z-index: 10; */
  margin-top: -900px !important;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  gap: 70px;
}

.login,.cadastro {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;

}

.login:hover,
.cadastro:hover {
    background-color: #000000;

}

 .sobre {
  display: flex;
  width: 99vw;
  height: 80vh;
  margin-top: 500px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.titulo-sobre{
  margin-top: 40px;
  font-size: 55px;
  color:#000000;
  font-weight: bolder;
}
.texto-sobre{
  font-size: 20px;
}

.div-sobre{
    height: 600px;
    width: 800px;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.anime{
  width: 99vw;
  height: 80vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Estilo do cards flutuantes carrossel Manga */

section.mangaClass::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 60px;
  
}

section.mangaClass .flex {
  align-items: center;
  gap: 60px;
}

.mangaClass .txt-manga {
  color: var(--texto2);
  margin-top: 90px;
  margin-top: 90px;
  margin-left: -200px;
}

.mangaClass {
  background-color: rgb(253, 253, 253);
  position: absolute;
}

.mangaClass .txt-manga h2 {
  font-size: 70px;
  margin-bottom: 45px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.2s;
  text-shadow: 3px 3px 3px #00192d6e;
}

.mangaClass .txt-manga h2{
  color: rgb(124, 8, 8);
}

.mangaClass .txt-manga p {
  text-align: left;
  font-size: 19px;
  margin-left: -100px;
  margin-right: -150px;
}
.titulo-projeto{
  font-size: 70px;
  text-align: center;
  color: #5c0000;
}
.texto-projeto{
  font-size: 19px;
}
.carrosel-manga {
  width: 100%;
  display: grid;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  text-align: center;
  margin-top: 180px;
  margin-left: 300px;
  z-index: 1;
}

.card-carrosel {
  margin-left: -32%;
  width: 300px;
  height: 53vh;
  background-color: var(--texto2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 500ms ease-in-out;
  flex-shrink: 0;
  position: relative;
  justify-content: center;
  z-index: 0;
  
}

.b {
  grid-column: 2;
  grid-row: 1;
  transform: translateX(50%);
}

.a {
  transform: translateX(25%);
  
}

.hover:hover{
    transform: scale(1.2);
    color: #ff0000;
  }
  


.card-carrosel img {
  margin-top: 0%;
  width: 57%;
  height: 65vh;
  position: relative;
  animation: flutuar2 2s ease-in-out infinite alternate;
  filter: drop-shadow(9px 9px 9px #00192d7b);
  transform: scale(1.05);
  /* border-radius: 30px;  */
}

.card-title{
  width: 800px;
  height: 800px;
  margin-right: -150px;
}

.card-carrosel{
  font-weight: bolder;
  margin-top: 10%;
  margin-bottom: 5%;
} 

.card-carrosel .card-desc {   
  width: 80%;
}


section.mangaClass {
  width: 99.46vw;
  height: 90vh;
}


.card-desc {
  display: block;
  width: 100%;
  height: 100%; 
  background-size: cover;
  background-position: center;
}


.current-carrosel {
  background-color: var(--azulclaro);
  color: var(--texto2);
  text-shadow: 5px 5px 9px #00192da9;
  opacity: 1;
  z-index: 1;
  grid-column: 2;
  grid-row: 1;
  transform: translateX(-10%) scale(1, 1.09);
  box-shadow: 1px 5px 5px #00192d53;
}

.img-hashiras{
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.anime{
  margin-top: -1032px;
  width: 99.46vw;
  height: 100vh;
  background: linear-gradient(-260deg, #000 40%, rgba(0, 0, 0, 0) 55%) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10%;
  color:white;
  position: absolute;
  z-index: 3;
}



.anime h1{
  font-size: 80px;
}

.texto-anime{
  margin-left: 100px;
  margin-top: 280px;
  width: 50%;
}

.boxes{
  display: flex;
  flex-direction: row;
  
  justify-content: space-evenly;
}

.box-link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: rgba(255, 0, 0,0.5);
  width: 360px;
  height: 120px;
  border: rgba(0, 0, 0, 0.5) 5px solid;
}

.box-link:hover{
  transform: scale(1.2);
}

.orange{
  background-color: rgba(255, 136, 0, 0.5);
}


.projetoClass{
  position: absolute;
  margin-top: 915px;

  display: flex;
}

.Eu{
  width: 700px;
  height:auto;
}

.div-projeto{
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: space-evenly;
}

.textosProjeto{
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  justify-content: space-around;
  width: 99.46vw;
  height: 130px;
  margin-top: 1630px; 
  position: absolute; 
  background-color: black; 
  color: white;
}

.footer .pages-footer ul{
  display: flex;
  align-items: center;
  padding: 16px;
  list-style: none;
  justify-content: space-between;
  gap: 50px;
}

.footer .contato-footer{
  gap: 60px;
}

.footer .contato-footer img{
  width: 60px;
}